
.controlers {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  grid-column-start: 1;
  grid-column-end: 5;

  border-top: var(--border-panels);

  background: var(--background-primary);

  padding: 1rem;
}

.buttons {
  width: 100%;
  max-width: 150px;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.button {
  min-width: 4rem;
  text-align: center;
  padding: 2px 5px;
  font-size: 1.2rem;
  border: 1px solid transparent;
  outline: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
}

.button:focus {
  border-color: var(--focus-tabindex);
}

.button.disabled {
  z-index: 10;
  pointer-events: none;
}

.button.cancel.disabled {
  background-color: var(--disabled-red-cancel);
}

.button.save.disabled {
  background-color: var(--disabled-green-done);
}

.button.save {
  background: var(--green-done);
}

.button.cancel {
  background: var(--red-cancel);
}

.button.save:active {
  background: var(--clicked-green-done);
}

.button.cancel:active {
  background: var(--clicked-red-cancel);
}

@media screen and (max-width: 490px) {
  .buttons {
    max-width: 90%;
    margin: 0 auto;
  }
}