* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  color: white;
  transition: all 50ms linear;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(30, 36, 65);
}

::-webkit-scrollbar-corner {
  background: var(--background-primary);
}

::-webkit-scrollbar-track {
  background: var(--background-primary);
}


html,
body {
  width: 100%;
  height: 100%;
  
  background: var(--background-secondary);

  overflow: hidden !important;
}


.menu {
  position: fixed;
  z-index: 250;
  top: 10px;
  display: none;
}

.menu#menuPreview {
  right: 10px;
}

.menu#menuItems {
  left: 10px;
}

.menu .ball {
  width: 20px;
  height: 20px;
  background: rgb(239, 255, 254);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.menu .ball::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--background-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu:active .ball {
  background: var(--border-outline);
}

.menu:active .ball::before {
  background: white;
}

.container {
  position: relative;

  max-width: 1200px;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;

  margin: 0 auto;

  overflow: hidden !important;
}

.item.selected-item {
  background-color: rgba(0, 162, 255, 0.815);
}